.fv-about::after {
  content: "";
  display: block;
  background: #222;
  width: 78rem;
  height: 46.4rem;
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
}

.fv-about-image {
  background-image: url(../img/heading-img_about.jpg);
  background-size: cover;
  background-position: center 0;
  width: 110rem;
  height: 38.7rem;
  position: relative;
}

.about-catch-box {
  position: absolute;
  top: 55%;
  right: 0;
  transform: translate(41%,-40%);
  color: #FFF;
}
.catch-title {
  font-size: 7.2rem;
  line-height: 88px;
  letter-spacing: 0.063em;
}
.about-catch-box span {
  font-size: 2rem;
  line-height: 29px;
}
 /* vision */
.vision {
  padding-top: 19.7rem;
}

.vision-box {
  padding-left: 226px;
}

.vision-top-text {
  font-size: 2.4rem;
  font-weight: bold;
  letter-spacing: 0.0005em;
  line-height: 41px;
}
.vision-text {
  margin-top: 3rem;
  font-family: "Noto Sans JP", sans-serif;
  line-height: 2;
}

/* message */
.message {
  padding-top: 12rem;
  position: relative;
}

.message-image {
  width: 42rem;
  position: absolute;
  top: 120px;
  left: 170px;
}

.message-container {
  background: #F0F0F0;
  width: 77rem;
  padding: 12rem 0rem 9rem 0rem;
  margin: 14.4rem 0 0 auto;
}

.message-box {
  max-width: 40rem;
  margin: auto;
}

.message-box p {
  font-family: "Noto Sans JP", sans-serif;
  line-height: 2;
}

.message-box h2 {
  letter-spacing: 0.068em;
}

/* company */
.company {
  padding-top: 12rem;
}

.company h2 {
  letter-spacing: 0.068em;
}

.company-list {
  border-top: 1px solid #333;
  color: #333333;
  font-family: "YuGothic", "Yu Gothic","游ゴシック", "游ゴシック体", sans-serif;
}

.company-list > div {
  margin: 0 0 0 auto;
  display: flex;
  border-bottom: 1px solid #333;
  padding: 2rem 0;
  max-width: 80rem;
}

.company-list dt {
  font-weight: bold;
  flex-basis: 142px;
}

.company-map {
  padding: 4rem 0 12rem 0;
}

.company-map iframe {
  width: 100%;
}









